.container {
	margin: 0 auto;
	width: 1192px;
	height: 736px;
	text-transform: uppercase;
	font-family: "Arimo", sans-serif;
	line-height: 28px;
	color: #484848;
}
table {
	border: 30px solid #374765;
	border-collapse: collapse;
	text-align: center;
}
th {
	font-size: 20px;
}
th:first-child {
	width: 198px;
	height: 112px;
	background-color: #fafafa;
}
th:nth-child(even), td:nth-child(even) {
	background-color: #e3e3e3;
}
th:nth-child(2n+3), td:nth-child(2n+3) {
	background-color: #f2f2f2;
}
td {
	width: 157px;
	height: 166px;
	border-top: 2px solid #d8d8d8;
	border-bottom: 2px solid #d8d8d8;
	font-size: 16px;
}
span {
	display: block;
}
.choose {
	line-height: 20px;
	font-size: 14px;
}
.fas, .far {
	padding-bottom: 5px;
	font-size: 24px;
	color: #848484;
}
.standard-str {
	background-color: #89c331;
}
.ultimate-str {
	background-color: #f04a56;
}
.premium-str {
	background-color: #20807c;
}
.str-line {
	border: 0;
	font-weight: 700;
	color: #fff;
}
.str {
	font-size: 24px;
}
.priceline {
	padding: 20px 0;
}
.priceline-dollar {
	display: inline-block;
	font-size: 36px;
}
.priceline-cent {
	display: inline-block;
	margin-left: -6px;
	vertical-align: top;
	line-height: 15px;
	font-size: 18px;
}
.per-month {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
}
.btn {
	padding-top: 7px;
	width: 144px;
	height: 41px;
	border: 0;
	border-bottom: 7px solid #343434;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 700;
	outline: none;
	background-color: #414141;
	color: #fff;
	font-size: 16px;
}
.btn:hover {
	border-bottom: 7px solid #6600cc;
	background-color: #6600ff;
	color: #000;
}
